@{
  Layout = "_LayoutDetails";
}

<div class="row">
  <div class="col-md-12">
    <div class="detailswrapper">
      <h1>@Model["movie"].GetTitle()</h1>
      <p>Movie Tagline: @Model["movie"].GetTagline()</p>

      <p>Release Status: @Model["movie"].GetStatus()<br>

        <p>Release Date: @Model["movie"].GetReleaseDate()<br>

          <p>Runtime in Minutes: @Model["movie"].GetRuntime()<br>

            <p>User Rating: @Model["movie"].GetVoteAverage()<br>

              <p>Budget: @Model["movie"].GetBudget()<br>

                <p>Revenue: @Model["movie"].GetRevenue()<br>

                  @if (@Model["movie"].GetHomepage().Length < 5)
                  {
                    <p>There is no official website for this movie.</p>
                  }
                  else if (@Model["movie"].GetHomepage().Length > 5)
                  {
                    <a href="@Model["movie"].GetHomepage()">@Model["movie"].GetTitle()</a><br>
                  }

                  <a href="/">Home</a>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  <form action='/{id}' method="post">
    <label for="inputReview"></label>
    <input name="inputReview" class="form-control" id="inputReview">
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
  @if(@Model["review"].Count == 0)
  {

  }
  else if (@Model.Count > 0)
  {
    @foreach(var review in @Model["review"])
    {
      ol>
        <li>
          @review.GetReview()
        </li
      </ol>
    }
  }
  <ol>
    <li>

  </ol>
  </div>

  </div>
