@{
  Layout = "_LayoutDetails";
}

<div class="row">
  <div class="col-md-12">
    <div class="titlewrapper">
      <h1>@Model["movie"].GetTitle()</h1>
      <h3>@Model["movie"].GetTagline()</h3>
    </div>
    <div class="borderwrap">
      <div class="detailswrapper">
        <h5>Release Status:</h5><p> @Model["movie"].GetStatus()</p>
        <h5>Release Date:</h5><p> @Model["movie"].GetReleaseDate()</p>
        <h5>Runtime:</h5><p> @Model["movie"].GetRuntime() minutes</p>
        <h5>User Rating:</h5><p> @Model["movie"].GetVoteAverage()/10</p>
        <h5>BUDGET:</h5><p>$@Model["movie"].GetBudget()</p>

        @if (@Model["movie"].GetHomepage().Length < 5)
        {
          <p>There is no official website for this movie.</p>
        }
        else if (@Model["movie"].GetHomepage().Length > 5)
        {
          <h5><a href="@Model["movie"].GetHomepage()">@Model["movie"].GetTitle()</a></h5>
        }



        <form action='{id}' method="post">
        <label for="inputReview"></label>
        <input name="inputReview" class="form-control" id="inputReview">
        <br>
        <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        </div>
        <form action='/HomepageNewSearch' method="post">
        <input class="userId" name="userId" type="hidden" value=@Model["User"].GetId()>
        <button type="submit" class = "btn btn-dark" id="btnright">Homepage</button>
        </form>
        </div>
        </div>
        </div>
