<h1>Result Title</h1>

@foreach(var movie in @Model["Title"])
{
  <p>@movie.GetTitle()</p>
  <p>@movie.GetHomepage()</p>
}

<h1>Result Genres</h1>
@foreach(var movie in @Model["Genre"])
{
  <p>@movie.GetTitle()</p>
  <p>@movie.GetHomepage()</p>
}
